.contact{
    background-color: #10131a;
    color: white;
    padding-bottom: 3rem;
    max-width: 83rem;
    margin: 0 auto;
    padding-top: 6rem;
}
.contact h1{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.contact p{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom:2rem ;
    color: rgba(242, 243, 244, 0.584);
    padding: 2rem;
}
.contact-form{
   /* width:35rem; */
   margin: 0 auto;
   background-color: #090d15;
   padding: 1rem;
   border-radius: 1rem;
}
@media screen and (min-width:768px) {
    .contact-form{
        width:35rem
    }
}
.contact-form h1{
   font-size: 1.6rem;
   text-align: start;
   margin: 1rem;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-input,.contact-textarea{
   margin: 0.25rem 1rem;
   width: 100%;
   font-size: 1.3rem;
   padding: 1rem;
   background-color: transparent;
   border-radius: 1rem;
   border: 1px solid white;
   color: white;
   /* transition: 0.3s ease-in-out; */
}
.contact-textarea{
    height: 10rem;
}
.contact-input:focus{
    outline: 1px solid #2eb2d3;
    border: none;
}
.contact-textarea:focus{
    outline: 1px solid #2eb2d3;
    border: none;
}
#send-button{
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    color: white;
    background-color:  #2eb2d3;
    border: none;
    border-radius: 1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
#send-button:hover{
    background-color: white;
    color: #090d15;
    box-shadow: 0 0 10px #2eb2d3;
}
.flash-msg{
    border-radius: 2rem;
    position: fixed;
    top: 25%;
    left: 40%;
    background-color: transparent;
}
#flash-close{
    color: black;
    background-color: white;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
}