.education{
    background-color: #10131a;
    color: #eff0f2;
    padding-bottom: 2rem;
    max-width: 83rem;
    margin: 0 auto;
    padding-top: 6rem;
}
.education h1{
     text-align: center;
     margin-bottom: 2rem;
     font-size: 2.5rem;
}
.education #desc{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: rgba(242, 243, 244, 0.584);
    margin: 2rem auto 0 auto;
    max-width: 40rem;
    padding: 2rem;
}
.study img{
    height: 3rem;
    width: 3rem;
    border-radius: 0.8rem;
    margin-right: 1rem;
}
.study{
    display: flex;
    margin-bottom: 1rem;
}
.info p{
    margin: 0;
    text-align: left;
}
.school-name{
    font-size: 1rem;
    color: white;
}
.study-info{
    font-size: 0.9rem;
    margin: 0.2rem 0;
    color: rgba(255,255,255,0.5);
}
.date{
    font-size: 0.8rem;
    color: rgba(255,255,255,0.5);
}
.ed-section{
    border: 2px solid #2eb2d3;
    border-radius: 2rem;
    padding: 1rem;
    /* width: 40rem; */
    margin: 2rem auto;
    transition: 0.3s ease-in-out;
}
@media screen and (min-width:768px) {
    .ed-section{
        width:40rem;
    }
}
@media screen and (max-width:768px) {
    .ed-section{
        margin: 2rem 2rem;
    }
}
.ed-section:hover{
    border-color: white;
    box-shadow: 0 0 10px #2eb2d3;
}
.description p{
   text-align: left;
   line-height: 1.4rem;
   margin: 1rem 0;
   color: rgba(255,255,255,0.5);
}