.footer{
    background-color: #10131a;
    color: white;
    padding:2rem 0;
    max-width: 83rem;
    margin: 0 auto;
    border-top: 1px solid rgba(255,255,255,0.5);
}
.footer h1{
    font-size: 1.8rem;
    text-align: center;
    color: #2eb2d3;
    margin: 2rem 0;
}
.footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    width: 80%;
}
.footer ul li a{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 1rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.footer ul li a:hover{
    color: #2eb2d3;
}
.social-media{
    width: 25%;
    max-width: 15rem;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    justify-content: space-around;
}
.social-media a{
    color: white;
    transition: color 0.3s ease-in-out;
}
.social-media a :hover{
    color:#2eb2d3;
}
#copyright{
    font-size: 1.3rem;
    text-align: center;
}

@media screen and (max-width: 768px){
    .pages{
        display: none;
    }
}